

@media screen and (max-width: 800px) {
    html{
        font-size: 55%;
    }
  }

  
@media screen and (max-width: 750px) {
    main #banner header{
        padding: 50px 20px 0 20px;
    }
    main #banner header nav ul li{
        margin: 0 10px;
    }
  }

  @media screen and (max-width: 630px){
    main #banner header .fa-bars{
        display: block;
    }
    main #banner header nav ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        right:100%;
        text-align: center;
        top: 90px;
        height: calc(100% - 100px);
        width: 50%;
        background-color:rgba(41,54,61,0.5);
    }
    main #banner header nav ul li{  
        margin-bottom: 4rem;
    }
  }

  @media screen and (max-width:300px){
    html{
        font-size: 40%;
    }
  }