

@media screen and (max-width: 800px) {
    html{
        font-size: 55%;
    }
  }
  @media screen and (max-width:300px){
    html{
        font-size: 40%;
    }
  }
  
@media screen and (max-width: 750px) {
    main #banner header{
        padding: 50px 20px 0 20px;
    }
    main #banner header nav ul li{
        margin: 0 10px;
    }
  }

  @media screen and (max-width: 630px){
    main #banner header .fa-bars{
        display: block;
    }
    main #banner header nav ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        right:100%;
        text-align: center;
        top: 90px;
        height: calc(100% - 100px);
        width: 50%;
        background-color:rgba(41,54,61,0.5);
    }
    main #banner header nav ul li{  
        margin-bottom: 4rem;
    }
  }

  @media screen and (max-width: 240px){
    main #banner #banner-content #content{
        padding: 0;
    }
  }




  @media screen and (max-width:1140px){
    #IndianTradition .wrapper #imgCon{
        height: 100%;
        width: 140rem;
    }
    #IndianTradition .wrapper #imgCon img{
        display: block;
        height: 100%;
        width: 100%;
    }
  }

  @media screen and (max-width:720px){
    #IndianTradition .wrapper #content-ifo p{
        line-height: 2rem;
        width: 90%;
    }

  }

  @media screen and (max-width:500px){
    #IndianTradition .wrapper #imgCon{
        display: none;
    }

    #IndianTradition .wrapper #content-ifo p {
        line-height: 2rem;
        width: 100%;
    }
  }

  
  @media screen and (max-width:600px){
    #new .wrapper {
        display:block;
        padding: 5rem 1rem;
    }
    #new .wrapper{
        padding-bottom: calc(5rem - 4rem);
    }
    #new .wrapper .content{
        width: 100%;
        margin-bottom: 4rem;
    }
  }





/* ---------------on-----your-----plate-------------- */
@media screen and (max-width:700px){
    #grid-con{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-gap: 4px;
    }
}


@media screen and (max-width:462px){
    #traditional-cuisine .wrapper #options p{
        margin: 0 1rem;
    }
}

/* ------------------menu-----responsive---------------- */

@media screen and (max-width:800px){
    #menu .wrapper ul li p{
        margin-bottom: 2rem;
        width: 90%;
    }
}

@media screen and (max-width:600px){
    #menu .wrapper ul li .img {
        margin-right: 1rem;
    }
}

@media screen and (max-width:540px){
    #menu .wrapper ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);   
        gap: 1rem;
    }
}
@media screen and (max-width:254px){
    #menu .wrapper {
        padding: 0rem;
    }
}

/* -------------------form-----------------responsive---------------------- */

@media screen and (max-width:625px){
    #booking-sec .wrapper ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      #booking-sec .wrapper ul div{
        margin:0 10px;
      }
}

@media screen and (max-width:205px){
    #booking-sec .wrapper ul div input{
        padding: 0.4rem 0;
    }
}